* {
	margin: 0px;
	padding: 0px;
	font-family: Comic Sans MS;
}
.layout-positioner {
	width: 1000px;
	margin: 0 auto;
	background: #fff;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}



.header-0 {
	position: fixed;
	top:0;
	width: 1000px;
	height: 70px;
	background: #FFCCCC;
	box-shadow: 0px 5px 0px rgb(0, 0, 0, .05);

	z-index: 1000;
}
.logo {
	display: block;
	float: left;
	width: 130px;
	height: 40px;
	padding: 5px;
	margin: 10px;
	background: rgb(255, 204, 153, .7);
	text-align: center;
}
.logo a{
	line-height: 40px;
	color: #fff;
	text-shadow: 1px 1px 1px #CC6633;
	text-decoration: none;
}


.menu {
	display: block;
}
.menu > ul {
	text-align: center;
	margin-right: 10px;
}
.menu > ul > li {
	display: block;
    float: right;
    width: 100px;
    padding: 5px;

    font-size: 20px;
    line-height: 60px; 
    color: #fff;
	/*list-style-image: url(if_list.png);*/
    list-style: none;

}
.menu a {
	color: #fff;
	text-decoration: none;
}
.menu a:hover {
	text-shadow: 1px 1px 1px #FF6666;
}







.about {
	/*background: rgb(255, 102, 102, .5);*/
	margin-top: 70px;
	padding: 90px 20px 60px;
	height:250px;
	color: #777;
}
.content {
	display: block;
	float: left;
	width:700px;
	text-align: justify;
}
.content h1 {
	color: #555;
}
.photo {
	overflow: hidden;
	display: block;
	float: right;
	box-sizing: border-box;
	width: 200px;
	height: 200px;

	border-radius: 50%;
}
.photo img {
	transform: translateX(-60px) rotate(-45deg);
}
hr {
	background: #555;
	height: 1px;
}

.lifestory {
	padding: 20px;
	background: #FF6633;
	color: #fff;
	margin-bottom: 20px;
}
caption {
	color: #fff;
}
.lifestory table {
	margin: 0 auto;
	color: #555;
	border-spacing: 10px;
	border: 2px dotted #444;
	background: rgb(255, 204, 153);
}
.lifestory table td {
	border: 2px dotted #444;
	padding: 5px;
	background: rgb(255,255,255,.8);
}




#portfolio {
	padding: 40px 20px;
	color: #777;
}
#portfolio h1 {
	color: #555;
}





footer > .layout-positioner {
	width: 1000px;
	background: #FFCCCC;
}
footer .logo {
	margin: 20px;
}
.feedback {
	display: block;
	float: right;
	box-sizing: border-box;
	width: 350px;
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px #FF6666;
}
input {
	border-radius: 5px;
	border: 1px dotted #FF6666;
	padding: 5px;
}
textarea {
	border-radius: 5px;
	border: 1px dotted #FF6666;
	padding: 5px;
}
input[type="submit"] {
	width: 40px;
	border: 1px dotted #FF6666;
	border-radius: 5px;
	color: #CC6633;
	background: #fff;
}